[Desktop Entry]
Version=1.0
Name=Savage Blocker
GenericName=Savage Blocker
Comment=To reduce verious unwanted websites
Exec=sudo /usr/bin/blocker.sh
Icon=/usr/share/icons/blocker.xpm
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;
Keywords=Blocker;
Name[en_US]=Savage Blocker
